body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#272222;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: rgb(148, 147, 147);
}
.navbar-collapse {
  justify-content: flex-end;
}
body {
  background-image: url("https://unsplash.com/photos/YApiWyp0lqo");
  background-color: #ece8e8;
 }
 .features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.social-networks {
  text-align: center;
}
.social-networks li {
  display: inline;
}
.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #686769;
}
#social{
    text-align: center;
    color: rgb(106, 106, 107);
}


.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
  clear: both;
  
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}
.form-group {
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;

}
.features .form-control,
.features input {
  border-radius: 0;
}
.features .btn {
background-color: #589b37;
border: 1px solid #589b37;
color: #fff;
margin-top: 20px;
}
.features .btn:hover {
background-color: #272222;
border: 1px solid #272222;
}
.feature-title {
  text-align: center;
}
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}
.btn btn-primary{
    color: blue;
}
#info {
    text-align: center;
    font-weight: bold;
    padding: 1%;
    margin: 1px;
    font-style: normal;
}
#book {
    text-align: center;
    padding: 2%;
}
.login-form {
  width: 340px;
  margin: 30px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.login-btn {        
  font-size: 15px;
  font-weight: bold;
}
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left; 
  line-height: 24px;       
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px  0 5px;
  min-width: 15px;
}
.input-group-addon .fa{
  font-size: 18px;
}
.track{
  text-align: center;
  padding: 1%;
}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
background-color: rgb(3, 3, 3);
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 23px;
right: 28px;
width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #ebe6e6;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: rgb(245, 239, 239);
}

/* Full-width textarea */
.form-container textarea {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
resize: none;
min-height: 200px;
}


.form-container textarea:focus {
background-color: rgb(224, 222, 222);
outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
.info{
text-align: center;
padding: 2%;
font-style: italic;
}
#direction{
text-align: left;
padding: 3%;
font-style: italic;
}

.large-title{
text-align: center;
font-style: italic;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: rgb(192, 11, 11);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
#location{
  text-align: center;
  font: italic;
  padding: 1%;
}
iframe {
  display: block;
  margin: 10px auto 10px auto;
  border: rgb(61, 53, 53);
}




